{% extends "books/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>{{ book }}</h3>
{% endblock page_header %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <ul>
      <li class="lead">Author: <a class="text-info" href="{% url 'books:author' book.author.id %}">{{ book.author }}</a></li>
      <li class="lead">Pages: {{ book.pages }}</li>
      <li class="lead">Genre:</li>
      {% for genre in genres %}
         <a class="text-info" href="{% url 'books:genre' genre.id %}">{{ genre }}</a>
      {% endfor %}
      <p><li class="lead">Calification: {{ book.calif }}</li>
        {% if calform %}
          <form class="form" action="{% url 'books:calification' book.id %}" method='post'>
            {% csrf_token %}
            {% bootstrap_form calform %}
            {% buttons %}
              <button class="btn btn-primary" name="submit">Calificate</button>
            {% endbuttons %}
          </form>
        {% endif %}
        </p>
      <li class="lead">Date added: {{ book.date_added|date:'M d, Y H:i' }}</li>
    </ul>
    <p class="lead">Review: {{ book.review|linebreaks }}</p>
  </div>
</div>
<p>
  {% for chap in chapters %}
    <h5>{{ chap.num }}: <a class="text-secondary" href="{% url 'books:chapter' chap.id %}">{{ chap }}</a></h5>
  {% empty %}
    <ul><li>No chapters have been added yet.</li></ul>
  {% endfor %}
</p>
{% for comment in comments %}
  <div class="card mb-3">
    <h4 class="card-header">
      {{ comment.profile }}
      <small>{{ comment.date_added|date:'M d, Y H:i' }}</small>
    </h4>
    <div class="card-body">
      {% if comment.spoiler %}
        <p>Ojo que viene con spoilers</p>
      {% endif %}
      <p class="lead">{{ comment.text|linebreaks }}</p>
    </div>
    {% if comment.profile == profile %}
    <small><a href="{% url 'books:edit_comment' comment.id %}">edit</a></small>
    <small><a href="{% url 'books:delete_comment' comment.id %}">delete</a></small>
    {% endif %}
  </div>
{% endfor %}
{% if comform %}
  <form class="form" action="{% url 'books:new_comment' book.id %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form comform %}
    {% buttons %}
      <button class="btn btn-primary" name="submit">Add comment</button>
    {% endbuttons %}
  </form>
{% endif %}
{% endblock content %}
